body {
    background: url("../images/ep_naturalblack.png");
    font-family: dejarip, sans-serif;
    font-style: normal;
    font-weight: 400;
}

*{
    box-sizing: border-box;
    }

header {
    /* position: absolute; */
    top: 0;
	z-index: 99;
    width:100%;
    margin: 0 0 30 0;
    padding: 30px;
    color: #ccc;
	border-bottom: 2px solid #ccc;
}

footer {
	padding: 30px 0px;
	clear: both;
	color: #ccc;
	font-size: 12px;
	text-align: center;
	border-top: 8px solid #4aaaa5;
}

.main-container {
	/* background: url("../images/ep_naturalblack.png"); */
	padding: 0px;
    width: 90%;
	border: 1px solid #dddddd;
    /* background-color: #ffffff; */
    margin: 20px auto; 
    background: linear-gradient(90deg, #ECECEC 25%, #FFFFFF 25%);
}

.section-title {
    font-size: 24px;
    padding: 10px 15px 0px 15px;
    font-weight: 600;
    color: #6a6a6a;
    margin: 0%;
}

.side-description{
    float: left;
    width: 25%;
    padding-left: 15px;
    height: 100%;
}

.side-content {
    margin-left: 20px;
    padding-left: 25px;
}
.square {
    /* display: inline-block; */
    display: inline-grid;
    width: 125px;
    height: 125px;
    background: black;
    padding: 10px;
    margin: 5px 0px;
    /* float: right; */

    /* a small margin to separate the blocks */
    margin-right: 5px;
}

#primary-one{
    /* color: #59CFD7; */
    background-color: #59CFD7;
}
#primary-two{
    /* color: #59CFD7; */
    background-color: #ec7046;
}
#background-one {
    background-color: #FFFFFF;
    border: #6a6a6a;
}
#background-two {
    background-color: #F7F7F7;
}
#background-three {
    background-color: #F7F7F7;
}
#background-four {
    background-color: #F7F7F7;
}
#background-five {
    background-color: #F7F7F7;
}
#background-six {
    background-color: #F7F7F7;
}