body {
    background: url("../images/ep_naturalblack.png");
    font-family: dejarip, sans-serif;
    font-style: normal;
    font-weight: 400;
}

header {
    position: absolute;
    top: 0;
    width:100%;
    /* background-color: chartreuse; */
    /* font-family: pt-sans-caption, sans-serif; */
    /* font-family: voluta-script-pro, sans-serif; */
    /* font-family: apolline, serif;
    font-style: normal;
    font-weight: 600; */
}

footer {
    position: absolute;
    bottom: 0;
    /* width: 100%; */
    height: 30px;
    color: whitesmoke;
    text-align: center;
}

.main-container {
	/* background: url("../images/ep_naturalblack.png"); */
	padding: 30px;
    width: 80%;
	float: left;
	border: 1px solid #dddddd;
    background-color: #ffffff;
    margin: 100 100; 
}

.squares p {
    display: inline-block;
    width: 150px;
    height: 150px;
    background: black;
    padding: 10px;
    margin: 10px;

    /* a small margin to separate the blocks */
    margin-right: 5px;
}